.preview-img-book{
    object-fit: cover;
    height:200px;
    width:120px;
    display:block;
    margin-bottom:5px;
    border-radius:8px;
}
.cont-bookInCatalog{
    width:120px;
    margin-bottom:25px;
    margin-right: 20px;
}
.cont-bookInCatalog span{
    display:block;
}
.main-content-catalog-wrapper{
    border-radius:12px;
    background: white;
    width: 50%;
    height: 75%;
}
.cont-list-catalog-books{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
}

@media (max-width: 800px) {
    .main-content-catalog-wrapper{
        height: 100%;
        width: 100%;
        border-radius: 0; 
    }
    .cont-list-catalog-books{
        margin-bottom: 120px;
    }
}
@media (max-width: 1000px) {
    .map-buttons{
        margin-right:30px;
    }
}