#lang-select{
    display: none;
    position: absolute;
    width: inherit;
}
#combobox-language-selection{
    width: 200px;
}
#combobox-btn{
    height: 40px;
    border:none;
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
    background: transparent
}

#combobox-btn img{
    width: 12px;
}

.combobox-option{
    width: inherit;
    height:19px;
    background-color: white;
    display: flex;
    align-items: center;
    line-height: 0.3em
}
.combobox-option img{
    width: 10px;
    padding-left: 5px;
    padding-right: 3px;
}
#combobox-btn-arrow{
    transform: rotate(180deg);
    padding-right: 5px;
}
#transIcon{
    width: 15px;
    padding-right: 5px;
}