#lang-select{
    display: none;
    position: absolute;
    width: inherit;
}
#combobox-language-selection{
    width: 200px;
}
#combobox-btn{
    height: 40px;
    border:none;
    display: flex;
    align-items: center;
}
#combobox-btn img{
    width: 15px;
}
.combobox-option{
    width: inherit;
    height:40px;
    background-color: white;
    display: flex;
    align-items: center;
    line-height: 0.3em
}
.combobox-option img{
    width: 15px;
}
#combobox-btn-arrow{
    transform: rotate(180deg);
}
/* #transIcon{
    width: 15px;
} */