.zoom-button{
    border:none;
}


#plus-zoom-button{
    border-radius: 12px 12px 0 0;
    padding:0;
    
}
#minus-zoom-button{
    border-radius: 0px 0px 12px 12px;
    padding:0;
    
    
}
.map-buttons{
    /* box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.32); */
     -webkit-border-radius: 12px;
     -webkit-box-shadow: 0 0 7px 1px #6d6d6dd4;
    -moz-border-radius: 12px;
    -moz-box-shadow: 0 0 7px 1px #6d6d6dd4;
    justify-content: flex-end;
    bottom:0;
    right:0;
    margin-right: 55px;
    margin-bottom:100px;
}
.zoom-button img{
    width:15px;
    padding:10px;
    box-shadow:none;
}