#cont-author-audio{
    display: none;
}
#bookname-in-book-profile{
    font-size: 22px;
    font-weight: bold;

}
.book-specification-img{
    margin-top: 10px;
}
#cont-author-audio span{
    color:grey;
}
#cont-profile-audio-rating{
    display: flex;
    align-items: center;
}
#book-audio-rating-profile{
    margin-left:5px;
    color:#FF6600;
}
.stars-rate-cont{
    background-color:white;
    border-radius:16px;
    padding:5px;
    position: absolute;
    box-shadow: 1px 1px 6px grey;
    display: flex;
    margin-left: 20px;
}
.star-rate{
    width: 15px;
}